[user]
    name = 'Ryohei Udagawa'
    email = 'r.udagawa1995@gmail.com'
[core]
        editor = vim -c \"set fenc=utf-8\"
[commit]
        template = ~/.commit_template
[ghq]
        root = ~/workspace/ghq
[push]
	default = current
[pull]
	rebase = false
[init]
	defaultBranch = main
[color]
	ui = true
	diff = true
	interactive = true
	status = true
[diff]
  tool = difftastic
  external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
